.hero-img {
  /* position: relative; */
  /* background: url('../../../assets/MasjideBilal.jpeg'); */
  width: 100%;
  /* background-image: linear-gradient(rbg(0, 0, 0, 0.5)); */
  text-align: center;
  color: white;
}
.image-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.M-bilal-img {
  width: 107%;
}

@media (min-width: 692px) {
  .M-bilal-img {
    width: 100%;
    padding: 50px;
    margin-top: -95px;
  }
}
