.app {
}
.page-container {
  height: calc(100% - 64px);
  /* min-height: calc(var(--vh, 1vh) * 100 - 3.5rem); */
}
.content-wrapper {
  min-height: calc(100vh - 290px);
}
.green-header {
  background-color: #1b4805;
  padding: 10px 20px;
  border-radius: 5px;
}
